# Travis build file

dist: trusty

language: node_js
node_js:
  - 11

git:
  quiet: true
  depth: 1

before_script:
  - if [ $TRAVIS_TAG != '' ]; then
      npm run travis:setversion $TRAVIS_TAG;
    fi
  - npm install -g athom-cli

script:
  - npm run test
  - npm run dist

deploy:
  - provider: pages
    github-token: $GITHUB_OAUTH_TOKEN
    skip_cleanup: true
    keep-history: false
    target-branch: release/$TRAVIS_TAG
    local-dir: ../homey-heating-dist
    on:
      tags: true

  - provider: script
    skip_cleanup: true
    script: npm run travis:sentry -- releases files homey-heating@${TRAVIS_TAG:1} upload-sourcemaps ../homey-heating-dist --rewrite --ignore-file scripts/.sentryignore
    on:
      tags: true
